@theme {
  --color-app-primary: #2d2aa5;
  --color-app-secondary: #40caa1;
  --color-app-tertiary: #45556c;

  --color-primary-text: #1f2937;
  --color-secondary-text: #6b7280;

  --color-text-on-primary: #ffffff;
  --color-text-on-secondary: #ffffff;
  --color-text-on-tertiary: #ffffff;

  --font-sans: "Roboto", system-ui, sans-serif;

  --font-size-2xl: 1.875rem; /* 30px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-base: 1rem; /* 16px */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
