@utility text-lead {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

@utility text-title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

@utility text-label {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
}

@utility text-body {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}

@utility text-button {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
}
